# build
.gradle/
build/
logs/
versions/*/bin/

# local
run/
tmp/

# ide
.idea/*
!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
*.iml
.vscode/

# system
*.DS_Store

# toolchain
hs_err_*.log
replay_*.log
*.hprof
*.jfr
node_modules/
